.black{
  color: black;
}

.explain-section{
  position: absolute;
  bottom:0;
}
.explain-section p{
  font-size: 2.5vmin;
}

.select-parent{
  width:200vw;
  height:100%;
  transition: transform 0.9s;
}

.slide{
  width:100vw;
  height:100%;
  float:left;
  text-align: center;
  display:flex;
  align-items: center;
}

.x-button{
  color: rgb(122, 122, 122);
  font-size:5vmin;
  font-weight:lighter;
  line-height:100px;
  display:none;
  cursor: pointer;
}


#play{
  display:none;
}

/* blinking 효과 */
.blinking{
  -webkit-animation:blink 1s ease-in-out infinite alternate;
  -moz-animation:blink 1s ease-in-out infinite alternate;
  animation:blink 1s ease-in-out infinite alternate;
}

@-webkit-keyframes blink{
  0% {opacity:0.5;}
  100% {opacity:1;}
}
@-moz-keyframes blink{
  0% {opacity:0.5;}
  100% {opacity:1;}
}
@keyframes blink{
  0% {opacity:0.5;}
  100% {opacity:1;}
}