body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* emoji Button */
.emoji:hover {
  filter: drop-shadow(25px 25px 50px #a9ffc7) invert(7%);
  cursor: pointer;
}

/* player 변경 */

.PlayerRSWP a{
  font-size: 1.5vmin;
  text-decoration: none;
  margin:1vmin;
}

.PlayerRSWP img{
  border-radius: 0.8vmin;
}

._ContentRSWP p:nth-of-type(1) a{
  font-size: 2.3vmin;
  font-weight:700;
}