/* player 변경 */

.PlayerRSWP a{
  font-size: 1.5vmin;
  text-decoration: none;
  margin:1vmin;
}

.PlayerRSWP img{
  border-radius: 0.8vmin;
}

._ContentRSWP p:nth-of-type(1) a{
  font-size: 2.3vmin;
  font-weight:700;
}